@import 'tailwindcss';
@plugin "daisyui";
@source "../node_modules/@flowbite-svelte-plugins/chart/dist";

@plugin 'flowbite/plugin';

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}
